.bellefair {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    /* font-size: 2em; */
}

.corsivo {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
    /* font-size: 4em; */
}